page-register {
	ion-content iframe {
		border: none;
		width: 100%;
		height: 100%;
	}
	#iframe {
		width: 100%;
		height: 100%;										/* android 低版本无法读取 env(safe-area-inset-bottom) */
		height: calc(100% - env(safe-area-inset-bottom));	/* iphonex 兼容 */	
	}
}
