page-home .iframe {
	width: 100%;
	height: 100%;
	border: none;
}
page-home .scroll-content {
	background: #ecf3fa;
}
page-home ion-toolbar {
	min-height: 2.6rem!important;
}
page-home .scroll-content {
    -webkit-overflow-scrolling: touch !important;
}