<ion-header [hidden]="isFullEcharts">
	<ion-navbar>
		<ion-title>
			<span>{{productName}}</span>
			<span>{{productCode == '0001' ? commodityCode : commodityCode + productCode}}</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<!-- swipeBackEnabled="false" 禁止右滑退出 -->
<ion-content scroll="false" [ngClass]="{'no-margin':isFullEcharts}" class="product-detail-page" swipeBackEnabled="false">
	<div id="Kline-column"></div>
	<!--  191128 超时重试 @wuwp  -->
	<div class="flash-wrap" *ngIf="showRetry">
		<a (tap)="reflashKline()">{{'重试' | translate}}</a>														
	</div>
	<ion-slides (ionSlideDidChange)="slideChanged()" speed="10">
		<ion-slide *ngFor="let item of productList;let i = index;" [title]="i">
			<ion-list>
				<!-- 明细 -->
				<div class="col-detail" *ngIf="tabStatus == 2 && !isFullEcharts">
					<div class="trader-detail">
						<ion-grid>
							<ion-row>
								<ion-col col-4>{{'时间' | translate}}</ion-col>
								<ion-col col-4>{{'最新价' | translate}}</ion-col>
								<ion-col col-4>{{'数量' | translate}}</ion-col>
							</ion-row>
						</ion-grid>
						<ion-grid *ngIf="historyTraderList.length >= 16 && item.productId == id">
							<ion-row>
								<ion-col col-4>{{historyTraderList[0].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[0].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[0].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[1].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[1].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[1].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[2].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[2].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[2].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[3].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[3].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[3].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[4].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[4].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[4].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[5].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[5].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[5].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[6].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[6].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[6].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[7].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[7].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[7].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[8].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[8].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[8].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[9].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[9].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[9].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[10].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[10].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[10].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[11].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[11].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[11].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[12].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[12].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[12].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[13].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[13].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[13].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[14].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[14].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[14].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[15].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[15].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[15].QLastQty}}</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-4>{{historyTraderList[16].DataTimeStamp}}</ion-col>
								<ion-col col-4>{{historyTraderList[16].QLastPrice}}</ion-col>
								<ion-col col-4>{{historyTraderList[16].QLastQty}}</ion-col>
							</ion-row>
						</ion-grid>
					</div>
				</div>
				<!-- 盘口 -->
				<div class="col-data" *ngIf="tabStatus == 1 && !isFullEcharts">
					<table>
						<tr>
							<td colspan="2">
								<p>{{'时间' | translate}}: {{item.DateTimeStamp}}</p>
							</td>
						</tr>
						<tr class="b-s">
							<td width="50%">
								<p class="flex flex-between">
									<span>① {{'买' | translate}}</span>
									<span>
										<a class="c_red">{{item._QBidPrice[0] | number:'1.2-7'}}</a>
										<a *ngIf="item._QBidQty[0] !== -1">{{item._QBidQty[0] | number:'1.0-6'}}</a>
										<a *ngIf="item._QBidQty[0] === -1">--</a>
									</span>
								</p>
							</td>
							<td width="50%">
								<p class="flex flex-between">
									<span>① {{'卖' | translate}}</span>
									<span>
										<a class="c_green">{{item._QAskPrice[4] | number:'1.2-7'}}</a>
										<a *ngIf="item._QAskQty[4] !== -1">{{item._QAskQty[4] | number:'1.0-6'}}</a>
										<a *ngIf="item._QAskQty[4] === -1">--</a>
									</span>
								</p>
							</td>
						</tr>
						<tr class="b-s">
							<td>
								<p class="flex flex-between">
									<span>② {{'买' | translate}}</span>
									<span>
										<a class="c_red">{{item._QBidPrice[1] | number:'1.2-7'}}</a>
										<a>{{item._QBidQty[1] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>② {{'卖' | translate}}</span>
									<span>
										<a class="c_green">{{item._QAskPrice[3] | number:'1.2-7'}}</a>
										<a>{{item._QAskQty[3] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
						</tr>
						<tr class="b-s">
							<td>
								<p class="flex flex-between">
									<span>③ {{'买' | translate}}</span>
									<span>
										<a class="c_red">{{item._QBidPrice[2] | number:'1.2-7'}}</a>
										<a>{{item._QBidQty[2] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>③ {{'卖' | translate}}</span>
									<span>
										<a class="c_green">{{item._QAskPrice[2] | number:'1.2-7'}}</a>
										<a>{{item._QAskQty[2] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
						</tr>
						<tr class="b-s">
							<td>
								<p class="flex flex-between">
									<span>④ {{'买' | translate}}</span>
									<span>
										<a class="c_red">{{item._QBidPrice[3] | number:'1.2-7'}}</a>
										<a>{{item._QBidQty[3] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>④ {{'卖' | translate}}</span>
									<span>
										<a class="c_green">{{item._QAskPrice[1] | number:'1.2-7'}}</a>
										<a>{{item._QAskQty[1] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>	
						</tr>
						<tr class="b-s">
							<td>
								<p class="flex flex-between">
									<span>⑤ {{'买' | translate}}</span>
									<span>
										<a class="c_red">{{item._QBidPrice[4] | number:'1.2-7'}}</a>
										<a>{{item._QBidQty[4] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>⑤ {{'卖' | translate}}</span>
									<span>
										<a class="c_green">{{item._QAskPrice[0] | number:'1.2-7'}}</a>
										<a>{{item._QAskQty[0] | number:'1.0-6'}}</a>
									</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span>{{'最新价' | translate}}</span>
									<span [ngClass]="{'c_red':item.QChangeValue>0,'c_green':item.QChangeValue<0}">{{item.QLastPrice}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'涨跌' | translate}}</span>
									<span [ngClass]="{'c_red':item.QChangeValue>0,'c_green':item.QChangeValue<0}">{{item.QChangeValue}} / {{item.QChangeRate | number:'1.0-3'}}%</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span>{{'开盘' | translate}}</span>
									<span>{{item.QOpeningPrice}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'成交量' | translate}}</span>
									<span>{{commodityType == 4 ? '--' : item.QTotalQty}}</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span class="c_red">{{'最高' | translate}}</span>
									<span>{{item.QHighPrice}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'持仓量' | translate}}</span>
									<span>{{commodityType == 4 ? '--' : item.QPositionQty}}</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span class="c_green">{{'最低' | translate}}</span>
									<span>{{item.QLowPrice}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'最小浮动' | translate}}</span>
									<span>{{item.unionMinPrices}}</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span>{{'均价' | translate}}</span>
									<span class="orange">{{item.QAveragePrice | number:'1.0-3'}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'结算价' | translate}}</span>
									<span>--</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span>{{'昨结' | translate}}</span>
									<span>{{item.QPreSettlePrice}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'涨停' | translate}}</span>
									<span>{{item.QLimitUpPrice}}</span>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="flex flex-between">
									<span>{{'昨收' | translate}}</span>
									<span>{{item.QPreClosingPrice}}</span>
								</p>
							</td>
							<td>
								<p class="flex flex-between">
									<span>{{'跌停' | translate}}</span>
									<span>{{item.QLimitDownPrice}}</span>
								</p>
							</td>
						</tr>
					</table>
				</div>
				<!-- 图表 -->
				<div *ngIf="tabStatus == 3 || tabStatus == 4" [ngClass]="{'full':isFullEcharts,'ios':plt.is('ios')}">
					<div class="chart_con">
						<div class="echarts-loading" *ngIf="isLoding">
							<ion-spinner></ion-spinner>
						</div>
					</div>
					<table class="contract-info-des" *ngIf="!isFullEcharts">
						<tr>
							<td width="40%" class="t-c" [ngClass]="{'c_red':item.QChangeValue>0 && commodityType != 4,'c_green':item.QChangeValue<0 && commodityType != 4,'m-p':commodityType != 4}">
								<span *ngIf="commodityType != 4">{{item.QLastPrice | number:'1.0-6'}}</span>
								<span class="rem2" *ngIf="commodityType == 4">
									<a class="c_red">{{item._QBidPrice[0] | number:'1.0-6'}}</a>
									/
									<a class="c_green">{{item._QAskPrice[4] | number:'1.0-6'}}</a>
								</span>
							</td>
							<td width="30%">
								<span class="c_grey">{{'最高' | translate}}</span>
								<span class="c_red">{{item.QHighPrice | number:'1.0-6'}}</span>
							</td>
							<td *ngIf="commodityType != 4" width="30%">
								<span class="c_grey">{{'昨收' | translate}}</span>
								<span>{{item.QPreClosingPrice | number:'1.0-6'}}</span>
							</td>
						</tr>
						<tr>
							<td class="t-c">
								<b class="s-p" [ngClass]="{'c_red':item.QChangeValue>0,'c_green':item.QChangeValue<0}">{{item.QChangeValue | number:'1.0-3'}}</b>
								/
								<b class="s-p" [ngClass]="{'c_red':item.QChangeValue>0,'c_green':item.QChangeValue<0}">{{item.QChangeRate | number:'1.0-3'}}%</b>
							</td>
							<td>
								<span class="c_grey">{{'最低' | translate}}</span>
								<span class="c_green">{{item.QLowPrice | number:'1.0-6'}}</span>
							</td>
							<td *ngIf="commodityType != 4">
								<span class="c_grey">{{'开盘' | translate}}</span>
								<span>{{item.QOpeningPrice | number:'1.0-6'}}</span>
							</td>
						</tr>
					</table>
				</div>
			</ion-list>
		</ion-slide>
	</ion-slides>
</ion-content>
<ion-footer class="flex-between flex" [hidden]="isFullEcharts">
	<a *ngIf="commodityType != 4" tappable [ngClass]="{'active':tabStatus == 2}" (tap)="changeSubscribe(2)">
		<i class="fa fa-list-alt fa-lg"></i><span>{{'交易明细' | translate}}</span>
	</a>
	<a tappable [ngClass]="{'active':tabStatus == 1}" (tap)="changeSubscribe(1);">
		<i class="fa fa-indent fa-lg"></i><span>{{'盘口' | translate}}</span>
	</a>
	<a tappable [ngClass]="{'active':tabStatus == 3}" (tap)="changeSubscribe(3)">
		<i class="fa fa-line-chart fa-lg"></i><span>{{'分时' | translate}}</span>
	</a>
	<a tappable [ngClass]="{'active':tabStatus == 4}" (tap)="changeSubscribe(4);">
		<i class="fa fa-bar-chart fa-lg"></i><span>{{'K线' | translate}}</span>
	</a>
	<a tappable (tap)="presentModal()">
		<i class="fa fa-flash fa-lg"></i><span>{{'交易' | translate}}</span>
	</a>
</ion-footer>
<app-alert></app-alert>