page-forgetpassword {
	ion-header {
		background: transparent!important;
		background-color: inherit!important;
		color: #fff;
		ion-icon {
			color: #333;
		}
	}
	.scroll-content,
	.toolbar-background,
	ion-content,
	ion-item,
	ion-header::after {
		background: transparent!important;
		background-color: inherit!important;
		background-image: none;
		border: 0;
	}
	ion-list {
		margin-bottom: 0!important;
		button {
			position: absolute!important;
			left: 0;
			bottom: 0;
			margin: 0!important;
		}
	}
	ion-item {
		padding: 0 25px!important;
		ion-label {
			width: 30%;
			color: #666666!important;
		}
		ion-input,
		ion-select,
		::-webkit-input-placeholder {
			width: 70%;
			max-width: 70%;
			color: #666666;
		}
		.item-inner {
			border-color: #9daacc!important;
		}
		a.get-code {
			width: 40%;
			background: url('../assets/imgs/trans-white.png');
		}
	}
	.toolbar-title,
	.bar-button-default {
		color: #333333;
	}
	a.button {
		border-radius: 23px;
		margin-top: 20px;
		width: calc(100% - 50px);
		background-color: none!important;
		background: #fb874c;
	}
	a.button.activated {
		background-color: #fb874c;
	}
}
page-forgetpassword {
	background-color: #fff;
}
page-forgetpassword a {
	color: #ddd;
	padding: 5px;
	border-radius: 3px;
}
page-forgetpassword .des {
	font-size: 1.0rem;
}
page-forgetpassword .rows {
	width: 100%;
	color: #eee;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}
page-forgetpassword .rows span {
	height: 30px;
	line-height: 30px;
	text-align: center;
}
page-forgetpassword .rows span input,page-forgetpassword .rows span select {
	width: 100%;
	border: 0px;
	color: #ddd;
	height: 30px;
	background: transparent;
	border-bottom: 1px solid #999;
}
page-forgetpassword .rows span input {
	padding: 10px 30px;
}
page-forgetpassword .rows span select {
	padding: 0px 10px 0px 25px;
}
page-forgetpassword .rows label {
	margin: 10px 0 20px 0;
}
page-forgetpassword .rows label a {
	float: left;
	color: #999;
	font-size: 12px;
}
page-forgetpassword section {
	margin: 30px 60px;
}
page-forgetpassword .rows i {
	position: absolute;
	left: 3px;
	top: 8px;
	display: block;
	text-align: center;
	width: 15px;
}