page-persionpwd .scroll-content {
	background: #f8f8f8;
	ion-list {
		background-color: #f8f8f8;
	}
	ion-item {
		padding: 0 24px!important;
	}
}
page-persionpwd .scroll-content button.item-button {
	height: 35px;
}
